<ion-header>
    <ion-toolbar>
        <ion-title>magic-wheel</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content class="content" style="display: inline-block;">
    <div id="mainbox" class="mainbox">
        <div id="box" class="box">
            <div class="box1">
                <span class="span1"><b>50</b></span>
                <span class="span2"><b>150</b></span>
                <span class="span3"><b>250</b></span>
                <span class="span4"><b>350</b></span>
            </div>
            <div class="box2">
                <span class="span1"><b>10</b></span>
                <span class="span2"><b>110</b></span>
                <span class="span3"><b>210</b></span>
                <span class="span4"><b>310</b></span>
            </div>
        </div>

        <button class="spin" (click)="myfunction()">SPIN</button>
    </div>
    <div class="arrow">
        <h1>&larr;</h1>
    </div>
</ion-content>